.nav {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.shikakun {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--size-radius-full);
}
