---
import { Category, mapContentToCategory } from '@utils/categories';
import { Article, mapContentToArticle } from '@utils/articles';
import { fetchContentsApi } from '@utils/fetch-contents-api';
import Layout from '@layouts/Layout.astro';
import ArticleList from '@components/ArticleList.astro';

export async function getStaticPaths() {
  const categories: Category[] = await fetchContentsApi('/categories', {
    populate: '*',
    'sort[slug]': 'desc',
  }).then((contents) => contents.data.map(mapContentToCategory));

  return categories.map((category) => {
    return {
      params: {
        slug: category.slug,
      },
      props: {
        category,
      },
    };
  });
}

const articles: Article[] = await fetchContentsApi('/articles', {
  populate: '*',
  'sort[date]': 'desc',
  'filters[category][slug]': Astro.params.slug,
}).then((contents) => contents.data.map(mapContentToArticle));

const { category } = Astro.props;
---

<Layout
  title={`Projects: ${category.name}`}
  openGraph={{
    basic: {
      title: category.name,
      type: 'website',
      image: 'https://shikakun.com/ogimage.png',
    },
  }}
>
  <main class='page'>
    <div class='article'>
      <ArticleList articles={articles} filter={category} nav={true} />
    </div>
  </main>
</Layout>

<style lang='scss'>
  @use '@styles/variables';
  @use '@styles/functions';
  @use '@styles/mixins';
  @use 'sass:math';
  @use 'sass:map';

  .page {
    @include mixins.page;
  }

  .container {
    @include mixins.container;
  }

  .article {
    padding: functions.get-sizing-scale-size(192) 0;
  }
</style>
