/**
 * Material Honesty（素材に対して正直）
 *
 * 物事をデザインするにあたって、その素材の性質やありように逆らわず、活かしてデザインする。環境に柔軟に適応する。
 * 転じて、ユーザーエージェントで指定されている挙動や、見た目の指定を尊重する。
 * とはいえ、まぁこうしたほうが美しいよね、便利だよねってものは、意思を持って変更しています。
 */

:root {
  /* デフォルトのフォントを指定 */
  font-family: var(--typography-font-family-default);

  /* 約物が連続する場合のアキを詰め、行頭の余白も除去 */
  text-spacing-trim: trim-start;

  /* 和欧間に自動でスペースを挿入 */
  text-autospace: normal;

  /* 禁則処理 */
  line-break: strict;
  hanging-punctuation: allow-end;

  /* 英単語の途中でも折り返す */
  overflow-wrap: anywhere;

  /* テキストと下線の距離をすこし空ける */
  text-underline-offset: 0.1em;

  /* モバイルデバイスでディスプレイを回転させた場合に、意図せずテキストが拡大される挙動を防ぐ */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  /* スクロールバーの表示・非表示によるレイアウトシフトを防止 */
  scrollbar-gutter: stable;

  /* iOSでタップした場合にハイライトしない */
  -webkit-tap-highlight-color: transparent;
}

:lang(ja) {
  /* 和文はカーニングしない */
  font-kerning: none;
}

:lang(en) {
  /* 欧文で最終行に1単語だけが残る、いわゆるorphanと呼ばれる現象を防ぐ */
  text-wrap: pretty;
}

::placeholder {
  /* プレースホルダーのテキストの不透明度を正規化 */
  opacity: unset;
}

body {
  /* ユーザーエージェントスタイルの指定を無効化 */
  margin: unset;

  /* フッターを固定する場合などを想定し、最小の高さを指定 */
  min-block-size: 100dvb;
}

ul,
ol,
menu {
  /* デフォルトのリストのマーカーを空文字で隠し、余白も詰める */
  list-style-type: "";
  padding: unset;
}

pre {
  /* :rootの指定が継承して意図せず表示の崩れを引き起こさないように打ち消す */
  text-spacing-trim: space-all;
  text-autospace: no-autospace;
}

em:lang(ja) {
  /* 和文では強調を斜体ではなく太字で表現する */
  font-style: unset;
  font-weight: bolder;
}

code,
kbd,
samp {
  /* ユーザーエージェントスタイルの指定を無効化 */
  font-size: unset;

  /* 等幅フォントで表示するためリガチャの表示を無効化 */
  font-variant-ligatures: none;

  /* フォントの機能の指定が継承し、意図せず等幅フォントの表示の崩れを引き起こさないように打ち消す */
  font-feature-settings: initial;
  font-variation-settings: initial;
}

abbr[title] {
  /* abbr要素の見た目をブラウザ間で統一 */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: help;
}

time {
  /* :rootの指定が継承して意図せず表示の崩れを引き起こさないように打ち消す */
  /* 日付の表記には和欧間に自動でスペースを挿入しない */
  text-autospace: no-autospace;
}

a {
  /* ユーザーエージェントスタイルの指定を無効化 */
  color: unset;
}

img,
svg,
picture,
video,
audio,
canvas,
model,
iframe,
embed,
object {
  /* 最大幅を親要素の幅に制限 */
  max-inline-size: 100%;

  /* インライン要素として配置された場合に下部に余白が空かないようにする */
  vertical-align: bottom;
}

img,
svg,
picture,
video,
canvas,
model,
iframe,
embed,
object {
  /* コンテンツに応じて垂直方向のサイズを自動で調整 */
  block-size: auto;
}

iframe {
  /* ユーザーエージェントスタイルの指定を無効化 */
  border: unset;
}

table {
  /* テーブルのセルの境界線はデフォルトで結合 */
  border-collapse: collapse;
}

search {
  /* search要素がSafari 17未満など未対応の環境でインライン要素として表示されるのを防ぐ */
  display: block flow;
}

input[type="search" i] {
  /* macOSにて角丸や背景色をつけない */
  -webkit-appearance: textfield;
}

@supports (-webkit-touch-callout: none) {
  :where(input[type="search" i]) {
    /* iOSで背景色を正規化 */
    background-color: Canvas;
  }
}

textarea {
  /* ユーザーエージェントスタイルの指定を無効化 */
  margin-block: unset;
}

input:not([type="button" i], [type="submit" i], [type="reset" i]),
textarea,
[contenteditable] {
  /* :rootの指定が継承して意図せず表示の崩れを引き起こさないように打ち消す */
  /* 入力中に予期しない挙動を引き起こす可能性があるため和欧間にスペースを挿入しない */
  text-autospace: no-autospace;
}

button,
input:is([type="button" i], [type="submit" i], [type="reset" i]),
[role="tab" i],
[role="button" i],
[role="option" i],
::file-selector-button {
  /* iOSでボタンをダブルタップするとズームが発生する挙動を無効化 */
  touch-action: manipulation;
}

fieldset {
  /* デフォルトの `min-inline-size: min-content` により子要素が引き伸ばすのを防ぐ */
  min-inline-size: 0;
}

dialog,
[popover] {
  /* 位置を固定した要素をスクロールする場合に、背面のページへのスクロールの伝播やモバイルでのバウンス効果を抑制 */
  overscroll-behavior-block: contain;
}

dialog:not([open], [popover]),
[popover]:not(:popover-open) {
  /* 閉じているダイアログやポップオーバーが意図せず表示されないようにする */
  /* biome-ignore lint: !importantを意図して使用しているため */
  display: none !important;
}

dialog {
  /* ユーザーエージェントスタイルの指定を無効化 */
  max-inline-size: unset;
  max-block-size: unset;
}

dialog::backdrop {
  /* `::backdrop` の背景色を正規化 */
  background-color: rgba(0, 0, 0, 0.5);
  /* biome-ignore lint: oklchに非対応の環境へのフォールバックのため */
  background-color: oklch(0% 0 0deg / 50%);
}
