---
import ArticleFilter from '@components/ArticleFilter.astro';
---

<nav id='drawer' class='drawer' popover>
  <div class='container'>
    <div class='menu'>
      <ul>
        <li><a href='/' rel='home' autofocus>Profile</a></li>
        <li><a href='/articles/'>Articles</a></li>
        <li><a href='/link/'>Link</a></li>
        <li><a href='/manzai/'>Manzai</a></li>
      </ul>
    </div>

    <div class='filter'>
      <ArticleFilter />
    </div>
  </div>
</nav>

<script>
  window.addEventListener('load', () => {
    const drawer = document.getElementById('drawer');

    drawer.addEventListener("toggle", (event) => {
      if (event.newState === 'open') {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    });
  });
</script>

<style lang='scss'>
  @use '@styles/variables';
  @use '@styles/functions';
  @use '@styles/mixins';
  @use 'sass:math';
  @use 'sass:map';

  .drawer {
    @include mixins.initialize(popover);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;

    &::backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(functions.get-primitive-color(blue, 600), 0.8);
      backdrop-filter: blur(0.25rem);
    }
  }

  .container {
    position: relative;
    margin-top: 50vh;
    min-height: 50vh;
    width: 100%;
    background-color: functions.get-primitive-color(white);
    pointer-events: auto;
  }

  .menu {
    padding: functions.get-spacing-size(m);

    ul {
      @include mixins.initialize(ul);
      display: flex;
      flex-direction: column;
      gap: functions.get-spacing-size(xs);
    }

    li {
      @include mixins.initialize(li);
    }

    a {
      $side-spacing: math.div(functions.get-interactive-component-size(m), 4);

      @include mixins.initialize(a);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: functions.get-interactive-component-size(m);
      padding: 0 $side-spacing;
      color: inherit;
      @include mixins.text(xl, dense);
      @include mixins.interactive-overlay;
      @include mixins.focus-ring;
    }
  }

  .filter {
    padding: functions.get-spacing-size(l);
  }
</style>
