---
const { name } = Astro.props;
---

<div class='icon' data-icon={name}></div>

<style lang='scss'>
  @use '@styles/variables';
  @use '@styles/functions';
  @use '@styles/mixins';
  @use 'sass:math';
  @use 'sass:map';

  $icon-font-name: "icons";

  @font-face {
    font-family: $icon-font-name;
    src: url("/icons/icons.ttf?eb09970b05b365178a61a1260219149f") format("truetype"),
url("/icons/icons.woff?eb09970b05b365178a61a1260219149f") format("woff"),
url("/icons/icons.woff2?eb09970b05b365178a61a1260219149f") format("woff2");
  }

  .icon {
    display: inline-block;
    font-family: $icon-font-name;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
  }

  $icon-font-codepoints: (
    "arrow_left": "\f101",
    "arrow_right": "\f102",
    "bandcamp": "\f103",
    "check": "\f104",
    "chevron_left": "\f105",
    "chevron_right": "\f106",
    "cross": "\f107",
    "facebook": "\f108",
    "github": "\f109",
    "instagram": "\f10a",
    "mail": "\f10b",
    "menu": "\f10c",
    "open_in_new": "\f10d",
    "radio": "\f10e",
    "sharp": "\f10f",
    "sticky_note": "\f110",
    "threads": "\f111",
    "web": "\f112",
    "x": "\f113",
    "youtube": "\f114",
  );

  .icon[data-icon="arrow_left"]::after {
    content: map.get($icon-font-codepoints, "arrow_left");
  }
  .icon[data-icon="arrow_right"]::after {
    content: map.get($icon-font-codepoints, "arrow_right");
  }
  .icon[data-icon="bandcamp"]::after {
    content: map.get($icon-font-codepoints, "bandcamp");
  }
  .icon[data-icon="check"]::after {
    content: map.get($icon-font-codepoints, "check");
  }
  .icon[data-icon="chevron_left"]::after {
    content: map.get($icon-font-codepoints, "chevron_left");
  }
  .icon[data-icon="chevron_right"]::after {
    content: map.get($icon-font-codepoints, "chevron_right");
  }
  .icon[data-icon="cross"]::after {
    content: map.get($icon-font-codepoints, "cross");
  }
  .icon[data-icon="facebook"]::after {
    content: map.get($icon-font-codepoints, "facebook");
  }
  .icon[data-icon="github"]::after {
    content: map.get($icon-font-codepoints, "github");
  }
  .icon[data-icon="instagram"]::after {
    content: map.get($icon-font-codepoints, "instagram");
  }
  .icon[data-icon="mail"]::after {
    content: map.get($icon-font-codepoints, "mail");
  }
  .icon[data-icon="menu"]::after {
    content: map.get($icon-font-codepoints, "menu");
  }
  .icon[data-icon="open_in_new"]::after {
    content: map.get($icon-font-codepoints, "open_in_new");
  }
  .icon[data-icon="radio"]::after {
    content: map.get($icon-font-codepoints, "radio");
  }
  .icon[data-icon="sharp"]::after {
    content: map.get($icon-font-codepoints, "sharp");
  }
  .icon[data-icon="sticky_note"]::after {
    content: map.get($icon-font-codepoints, "sticky_note");
  }
  .icon[data-icon="threads"]::after {
    content: map.get($icon-font-codepoints, "threads");
  }
  .icon[data-icon="web"]::after {
    content: map.get($icon-font-codepoints, "web");
  }
  .icon[data-icon="x"]::after {
    content: map.get($icon-font-codepoints, "x");
  }
  .icon[data-icon="youtube"]::after {
    content: map.get($icon-font-codepoints, "youtube");
  }
</style>
