.withOverlay {
  position: relative;
}

.withOverlay::after {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  border-radius: inherit;
  background-color: var(--_overlay-color, transparent);
  transition-property: background-color;
  transition-duration: var(--motion-duration-default);
  transition-timing-function: var(--motion-easing-default);
  pointer-events: none;
}

.withFocus:focus-visible {
  outline: var(--size-border-l) solid var(--_focus-color, var(--color-semantic-neutral-900));
  outline-offset: calc(-1 * var(--size-border-l));
  box-shadow: inset 0 0 0 calc(var(--size-border-l) * 2) var(--color-palette-white);
}

@media (forced-colors: active) {
  .withFocus:focus-visible {
    outline-color: Highlight;
    outline-offset: 0;
    box-shadow: none;
  }
}

@media (prefers-contrast: more) {
  .withFocus:focus-visible {
    outline-width: calc(var(--size-border-l) * 2);
    outline-offset: calc(-2 * var(--size-border-l));
    box-shadow: inset 0 0 0 calc(var(--size-border-l) * 4) var(--color-palette-white);
  }
}

.root {
  composes: withOverlay withFocus;
}

.root:hover {
  --_overlay-color: var(--_overlay-color-hover, transparent);
}

.root:active {
  --_overlay-color: var(--_overlay-color-active, transparent);
}

.colorNeutral {
  --_overlay-color-hover: var(--color-semantic-neutral-100);
  --_overlay-color-active: var(--color-semantic-neutral-200);
}

.colorPrimary {
  --_overlay-color-hover: var(--color-semantic-primary-100);
  --_overlay-color-active: var(--color-semantic-primary-200);
  --_focus-color: var(--color-semantic-primary-700);
}

.colorInformative {
  --_overlay-color-hover: var(--color-semantic-informative-100);
  --_overlay-color-active: var(--color-semantic-informative-200);
  --_focus-color: var(--color-semantic-informative-700);
}

.colorNegative {
  --_overlay-color-hover: var(--color-semantic-negative-100);
  --_overlay-color-active: var(--color-semantic-negative-200);
  --_focus-color: var(--color-semantic-negative-700);
}
